@{
    Layout = "_Modal";
    ViewData["ModalStateName"] = "settings";
    ViewData["ModalButton"] = "Save";
    ViewData["ModalFormAction"] = "/settings";
}

<input type="hidden" name="url" value="@Context.Request.Path" />

<h1>Profile settings</h1>
<p>
    Change profile picture on
    <a href="https://gravatar.com" target="_blank">Gravatar</a>.
</p>
<img src="@ViewBag.CurrentUser.Avatar()" alt="avatar">

<label for="email">Email</label>
<input id="email" name="email" type="email" value="@ViewBag.CurrentUser.Email" required>

<label for="first_name">Firstname</label>
<input id="first_name" name="first_name" type="text" value="@ViewBag.CurrentUser.FirstName" required>

<label for="last_name">Lastname</label>
<input id="last_name" name="last_name" type="text" value="@ViewBag.CurrentUser.LastName" required>

<label for="password">New password</label>
<input type="password" name="new_password" id="password">

<label for="password">Current password</label>
<input id="password" name="current_password" type="password" required>